<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <app-school-list (schoolRemoveEvent)="schoolRemove($event)" [schoolsInput]="schools">
                </app-school-list>
                <app-school-create (schoolCreateEvent)="createSchool($event)">
                </app-school-create>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <app-student-list (studentRemoveEvent)="studentRemove($event)" [studentsInput]="students">
                </app-student-list>
                <app-student-create (studentCreateEvent)="createStudent($event)" [schoolsInput]="schools">
                </app-student-create>
            </div>
        </div>
    </div>
</div>